<h1>Tut3 App</h1>
<p>
This is the home page for <a href = "http://www.railstutorial.org" Sample Application</a> Tut 3.
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>